@{
    ViewData["Title"] = "Delete Result";
    var deletedPersonName = ViewBag.DeletedPersonName;
}

<div>
    <h1 class="display-4 mb-5 text-center">Person @deletedPersonName was removed from the list successfully!”</h1>
</div>
